<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Arithmetic Suite" verbose="5" parallel="false">
  <test name="MathTests" >
    <classes>
    <class name="com.evolutionaryworks.MathsOperations.ArithmeticOperationsV2Test" />
      <class name="com.evolutionaryworks.MathsOperations.ArithmeticOperationsTest" />
      
      <!-- <methods>
      	<include name="getMessage"></include>
      	<include name="setMessage"></include>
      </methods> -->
    </classes>
  </test>
</suite>
